@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0;
    padding: 0;
}

#hero {
    
    background: linear-gradient(
    0deg,
    rgb(16,16,16) -19.5%,
    rgb(16,16,16,0)100%),
    url("assets/hero-bg.png");
    height: 695px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hero .hero-content {
    width: 700px;
}

#hero .hero-content .subtitle {
    opacity: .8;
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
}

#hero .hero-content .title {
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 14px;
}

#hero .hero-content .description {
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 33px;
}
.btn-container{
    text-align: center;

}
.btn{

color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-size:14px;
font-weight: 600;
line-height:16px;
letter-spacing:0%;
text-align: center;
padding: 15px 20px 15px 20px;

border-radius: 8px;
border: none;

background: rgba(82, 195, 3, 1);
cursor: pointer;


}
#card-box{
    width: 900px;
    margin: 100px auto;
}

#card-box .title1{
    color: rgba(16, 16, 16);

font-family: Work Sans;
font-size: 28px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0%;
text-align: center;
}
#card-box .subtitle1{
     color: rgba(16, 16, 16);

font-family: Work Sans;
font-size:14px;
font-weight: 700;
line-height:16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
}
.card-container{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-family: Work Sans;

}
.card{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .image-box{
    width: 300px;
}
.card .image-box img{
width: 100%;
}
.card .shop{
    text-align: center;
    background:rgba(82, 195, 3, 0.15) ;
    padding:12px 20px 12px 20px ;
}
